/* Default to dark mode */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #ffffff;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.kingdom-step {
    margin-bottom: 15px;
}

.activity {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
}

.activity:hover {
    text-decoration: underline;
}

.activity-tooltip {
    display: none;
    position: fixed; /* Use fixed positioning to place the tooltip relative to the viewport */
    bottom: 10%; /* Position the tooltip in the bottom two-thirds of the screen */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    white-space: normal; /* Enable line wrapping */
    width: 80vw; /* Take up 80% of the horizontal space */
    max-width: 80vw; /* Ensure it doesn't exceed the container */
    z-index: 10;
    word-wrap: break-word; /* Ensure long words break */
    overflow-wrap: break-word; /* Ensure long words break */
}

.activity:hover .activity-tooltip {
    display: block;
}

.activity-tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px; /* Add gap between flex items */
}

.flex-container .kingdom-activity {
    display: inline-flex;
    flex: 0 1 auto;
    margin: 10px;
    border: 1px solid #ccc; /* Add a thin border */
    padding: 10px; /* Add padding inside the border */
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

@media (min-width: 600px) {
    .activity-tooltip {
        max-width: 33vw; /* Set a maximum width relative to the viewport for larger screens */
    }
}

/* Center all h2 headings */
h1, h2 {
    text-align: center;
}

/* Light mode styles */
body.light-mode {
    background-color: #ffffff;
    color: #000000;
}

nav.light-mode {
    background-color: #f0f0f0;
    color: black;
}

nav.light-mode a {
    color: black;
}

.activity.light-mode {
    color: #007bff;
}

.activity-tooltip.light-mode {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}